<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
    </header>
    <main>
        <div class="container py-5">

            <!-- For demo purpose -->
            <header class="text-white text-center">
                <h1 class="display-4">Lạc Hồng Vision</h1>
                <p class="lead mb-0">Dự án nhận diện thông tin trên chứng minh nhân dân</p>
                <p class="mb-4 font-weight-light">Thông tin dự án
                    <a href="#" class="text-white">
                        <u>Hướng dẫn</u>
                    </a>
                </p>
                <img src="assets/image/cmnd.png" alt="" width="300px" class="mb-4">
            </header>
            <div class="row py-4">
                <div class="col-lg-6 mx-auto">
                    <!-- Upload image input-->
                    <div class="input-group mb-3 px-2 py-2 rounded bg-white shadow-sm">
                        <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Chọn tệp</label>
                        <div class="input-group-append">
                            <label for="upload" class="btn btn-light m-0 rounded px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Chọn tệp</small></label>
                        </div>
                    </div>
        
                    <!-- Uploaded image area-->
                    <p class="font-italic text-white text-center">Thông tin sẽ được hiển thị bên dưới</p>
                    <div>
                        <!-- <img src="assets/image/cmnd.png" alt="" width="300px" class="mb-4"> -->
                        <div class="image-area mt-4">
                            <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                        </div>
                        <div class="info-area">
                            <div>
                                Avatar
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                   
        
                </div>
              
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="assets/js/upload.js"></script>
</body>
</html>